<div class="container mt-5" style="font-family: 'Courier New', Courier, monospace;">
  <div class="card">
    <h5 class="card-header text-center"><strong>Log Error Monitoring Assistant</strong> </h5>
    <div class="card-body">

      <!-- File Upload Section -->
      <div class="row mb-4">
        <div class="col-md-6">
          <label for="fileUpload" class="form-label"><strong>Drag and Drop or Upload a file:</strong></label>
          <input type="file" class="form-control" id="fileUpload" (change)="onFileSelected($event)">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
          <button *ngIf="selectedFile && promptValue" (click)="analyzeFile()" class="btn btn-primary me-2" [disabled]="isLoading">
            <span *ngIf="!isLoading">Analyze</span>
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <!-- Error Message -->
      <div class="alert alert-danger" role="alert" *ngIf="error">{{ error }}</div>

      <!-- Prompt Box Section -->
      <div class="input-group mb-3">
        <span class="input-group-text">Prompt:</span>
        <input type="text" class="form-control" placeholder="Enter your prompt here" [(ngModel)]="promptValue">
      </div>
    </div>
  </div>
</div>

<!-- Analysis Results Section -->

<div class="container mt-5" *ngIf="timestamps.length > 0" style="font-family: 'Courier New', Courier, monospace;">
  <div class="card">
    <h5 class="card-header text-center"><strong>Analysis Results</strong></h5>
    <div class="card-body">
      <div *ngFor="let index of timestamps; let i = index" class="analysis-box">
        <p><strong>Timestamp:</strong> {{ timestamps[i] }}</p>
        <p><strong>Log Message:</strong> {{ messages[i] }}</p>
        <p><strong>Analysis Result:</strong></p>
        <div class="analysis-result" style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">
          <pre>{{ response_texts[i] }}</pre>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
